<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		  <title>{{ .Title }}</title>
			<!-- CSS -->
			<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
			<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fontello.css">
			<!-- Viewport -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<!-- highlight.js -->
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github-gist.min.css">
			<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
			<script>hljs.initHighlightingOnLoad();</script>
			<!-- Font -->
			<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	</head>
	<body>
