{{ define "main" }}
<div class="single">
  <div class="header">
    <p class="lastmod">{{ .Date.Format "January 2, 2006" }}</p>
    <h1 class="posttitle">{{ .Title }}</h1>
    <div class="taxonomies">
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="icon-tags"></i>{{ . }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.categories }}
      <ul id="categories">
        {{ range . }}
        <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="icon-categories"></i>{{ . }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
  {{ if and (gt .WordCount 200 ) (ne .Params.toc "false") }}
    <div class="toc">
        {{ .TableOfContents }}
    </div>
  {{ end }}
  <div class="content">
    {{ .Content }}
    <br>
  </div>
  {{ partial "related.html" . }}
</div>
{{ end }}
